[user]
  name  = hachibu
  email = raymondsohn@gmail.com

[core]
  editor       = vim
  excludesfile = ~/.gitignore

[color]
  ui     = auto
  status = auto
  diff   = auto
  branch = auto

[pager]
  branch = false

[pull]
  rebase = true

[push]
  default = current

[alias]
  c = !git add . && git commit -m "Checkpoint" --cleanup=strip
  e = config --edit --global
  s = rebase -i HEAD~2
  u = !git fetch --all --prune && git pull --rebase
