[user]
  name  = hachibu
  email = raymondsohn@gmail.com

[core]
  editor       = vim
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[color]
  ui     = auto
  status = auto
  diff   = auto
  branch = auto

[pager]
  branch = false

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autoStash = true

[alias]
  fix = commit -a --amend --cleanup=strip -C HEAD
  fetch = fetch --all --prune
