[user]
  name  = Raymond Sohn
	email = raymondsohn@gmail.com
	signingkey = CEB8F94A363580DF

[core]
  editor       = vim
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[color]
  ui     = auto
  status = auto
  diff   = auto
  branch = auto

[pager]
  branch = false

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autoStash = true

[alias]
  fix = commit -a --amend --cleanup=strip -C HEAD
  fetch = fetch --all --prune
  gc = gc --aggressive --prune=now

[commit]
	gpgsign = true

[gpg]
	program = gpg
